@charset "UTF-8";

@media (min-width: 768px) {
    .space {
        &-lines {
            position: fixed;
            left: 4.5rem;
            width: calc(100vw - 4.5rem);
            height: 100vh;
            overflow: hidden;

            .line {
                position: absolute;
                border-top: 1px solid rgba(#444, .2);
                transform: rotate(-45deg);
                transform-origin: right top;
                width: 100vw;
            }

            .line1 {
                right: 70vw;
                top: 0;
            }

            .line2 {
                right: 22vw;
                top: 0;
            }

            .line3 {
                right: -28vw;
                top: 0;
            }
        }

        &-container {
            position: absolute;
            z-index: 9;
            top: 0;
            left: 4.5rem;
            right: 0;
            bottom: 0;
            overflow-x: hidden;
            overflow-y: auto;
            // background: rgba(red, .2);

            .covers {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                padding: 7vh 8vw 0;

                img {
                    position: relative;
                    width: 23vw;
                    transition: 2.5s top;
                }
            }

            .content {
                padding: 5rem 8vw;

                i {
                    font-size: 1rem;
                    text-transform: uppercase;
                    color: rgba(#444, .6);
                }

                h1 {
                    font-size: 6rem;
                    font-weight: bold;
                }

                .txs {
                    width: 70%;

                    p {
                        font-size: 1.4rem;
                        line-height: 2;
                        padding-bottom: 3rem;
                    }
                }

                .logo {
                    height: 6vh;

                    img {
                        height: 100%;
                    }
                }
            }
        }

        &-bg {
            position: absolute;
            top: -2vh;
            left: 35%;
            height: 60vh;

            img {
                height: 100%;
            }
        }
    }
}